li{
  font-size: 18px;
  padding: 5px 10px 5px;
}

/* メインコンテンツ */
.col-lg-8{
  margin-top: 20px;
}

/* 見出しセル */
.table-primary{
  padding: 8px 10px 8px 20px;

}
.cell-info{
  padding: 8px 10px 8px 20px;

}

/* 通常コンテンツ */
.content{
  color: white;
  background-color: black;
  margin: 24px 0 12px;
  padding: 8px 10px 8px 20px;
}

/* ドロップダウン用コンテンツ */
.content.dropdown-bar{
  /* マウスカーソル設定 */
  cursor: pointer;
  cursor: hand;
}

/* 実績 */
.achievement{
  background-color: rgb(250, 173, 250);
}