.navbar-brand{
  font-size: 40px;
  color: white;
  padding: 5px 20px 5px;
}

.nav-link{
  color: white;
  /* マウスカーソル設定 */
  cursor: pointer;
  cursor: hand;
}

.nav-link:hover,.navbar-brand:hover{
  color: aqua;
}

.dropdown-item:hover{
  color: red;
}

.navbar-toggler-icon {
  /* 三本線の色変更 */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}