.navbar-brand{
  font-size: 40px;
  color: white;
  padding: 5px 20px 5px;
}

.nav-link{
  color: white;
  /* マウスカーソル設定 */
  cursor: pointer;
  cursor: hand;
}

.nav-link:hover,.navbar-brand:hover{
  color: aqua;
}

.dropdown-item:hover{
  color: red;
}