.main_content{
  font-size: 20px;
  color: white;
  background-color: black;
  margin: 24px 0 12px;
  padding: 8px 10px 8px 20px;
  /* マウスカーソル設定 */
  cursor: pointer;
  cursor: hand;
}

/* ゲーム情報 */
.game-info-cell{
  padding: 8px 10px 8px 20px;
  background-color:#f3f3f3;
}