/* ヘッダー */
.header{
  height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(../Images/header.jpg);
  background-size: cover;
}
.header_division{
  margin-top: 0px;
  padding-top: 10px;
  text-align: center;
  color: white;
}

.header_division_link{
  color: white;
}

.header_division_link:hover{
  color: gray;
  text-decoration: none;
}

.menubar-background{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(../Images/header.jpg);
  background-size: cover;
}

/* 文字色の変更 */
.navbar-brand,.nav-link{
  color: white;
}

/* マウス乗っているとき */
.nav-link:hover,.navbar-brand:hover{
  color: rgba(0,255,255,1);
}
.dropdown-item:hover{
  color: red;
}

/* 三本線の変更 */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}